.header{
    width: 900px;
    font-size: 14px;
    text-align: center;
    border-style: solid;
    border-color: black;
}
.box1{
    height: 300px;
    width: 806px;
    float: left;
    border-style: solid;
    font-family: 'Times New Roman', Times, serif; 
    font-size: 18px;
}
.box2{
    height: 300px;
    width: 770px;
    float: right;
    margin-right: 316px;
    border-style: solid;
    text-align: center;
    font-family: 'Times New Roman', Times, serif; 
    font-size: 18px;
}
