.header{
    width: 900px;
    font-size: 14px;
    text-align: center;
    border-style: solid;
    border-color: black;
}
.box1{
    height: 100px;
    width: 806px;
    float: left;
    border-style: solid;
}
.box2{
    height: 100px;
    width: 770px;
    float: right;
    margin-right: 316px;
    border-style: solid;
    text-align: center;
}
